<h1>{{title}}</h1>
<h2>Login Page</h2>
<p>Welcome to {{title}}</p>
{{#if error}}
<div class="alert alert-danger">{{error}}</div>
{{/if}}
<form action="/login" method='POST'>
  <div class="form-group">
    <label for="email">Email</label><br>
    <input type="text" class="form-control" id="email" name="email"><br>
  </div>
  <div class="form-group">
    <label for="pwd">Password:</label>
    <input type="password" class="form-control" id="pwd" name="password">
  </div>
  <div class="checkbox">
    <label><input type="checkbox"> Remember me</label>
  </div>
  <button type="submit" class="btn btn-default">Login</button>
  <a href="/signup"><button type="button" class="btn btn-dark">Sign up</button></a>
</form>
