<h1>{{title}}</h1>
<h2>Login Page</h2>
<p>Welcome to {{title}}</p>
<form action="/login" method='POST'>
  <div class="form-group">
    <label for="username">Username</label><br>
    <input type="text" class="form-control" id="username" name="username"><br>
  </div>
  <div class="form-group">
    <label for="pwd">Password:</label>
    <input type="password" class="form-control" id="pwd" name="password">
  </div>
  <div class="checkbox">
    <label><input type="checkbox"> Remember me</label>
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>